$highlightColor: #14a0c7;
$buttonColor: #699900;
$bgColor: #fff;
$divBgColor: #21232e;
$fontColor: #2c2f3c;
$fontOne: "Hind", sans-serif;
$fontTwo: "Source Sans Pro", sans-serif;
$secondGradColor: #2b59dd;
$fontWeight: (
  "bold": 700,
  "regular": 400,
  "prebold": 600
);
$imgUrl: url("../img/m-h-day.jpg");
$lineHeightSpan: 6px;
$lineHeightPar: normal;
$wordSpace: normal;
$top: 1.3%;
$widthPar: 19%;
