$highlightColor: #ff4e33;
$buttonColor: #e3aa00;
$bgColor: #21232e;
$divBgColor: #3b3f50;
$fontColor: #fff;
$fontOne: "Fresca", sans-serif;
$fontTwo: "Source Sans Pro", sans-serif;
$secondGradColor: #942f51;
$fontWeight: (
  "bold": 700,
  "regular": 400,
  "prebold": 600
);
$imgUrl: url("../img/m-h-night.jpg");
$lineHeightSpan: 15px;
$lineHeightPar: 25px;
$wordSpace: 3px;
$top: 1.7%;
$widthPar: 20%;
